include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include press_capacity *.css
recursive-include press_capacity *.csv
recursive-include press_capacity *.html
recursive-include press_capacity *.ico
recursive-include press_capacity *.js
recursive-include press_capacity *.json
recursive-include press_capacity *.md
recursive-include press_capacity *.png
recursive-include press_capacity *.py
recursive-include press_capacity *.svg
recursive-include press_capacity *.txt
recursive-exclude press_capacity *.pyc